/*====================================================================

  Web site: <web site name>
  Title: <CSS title>
  Description:
    <brief description of CSS styles>

====================================================================*/

/*====================================================================
 Color scheme
====================================================================*/
:root {
  --color-darkgreen: #0D4646FF;
  --color-lightgreen: #36917CFF;
  --color-olive: #CDD38DFF;
  --color-yellow: #F3D06DFF;
  --color-orange: #E79B56FF;
  --color-blue: #00274c;
  --color-gold: #CFB289;
  --color-lightblue: #C1CFE2;
  --rem: 16;
}

/*====================================================================
 General style
====================================================================*/
* {
  box-sizing: border-box;
}

/*====================================================================
 Body style
====================================================================*/
body {
  font-family: verdana, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.8vw;
}

/*====================================================================
 Heading styles
====================================================================*/
h1 {
  color: var(--color-olive);
  text-align: center;
}

/*====================================================================
 Paragraph styles
====================================================================*/
p {
  font-size: 20px;
}


/*====================================================================
rides and iamges styles
====================================================================*/

.rides {
  display: flex;
  flex-direction: column;
  margin: 3vw 0vw;
}

.ride-container {
  display: flex;
  flex-direction: row;
  margin: 3vw 0vw;
}

.ride-des {
  width: 40vw;
  height: 100%;
  margin-top: 4vw;
  background-color: var(--color-lightblue);
  padding: 2vw;
}

.ride-title {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1vw;
}

#rc2 {
  display: flex;
  flex-direction: row-reverse;
}

#rd2 {
  text-align: right;
}

.velo-img {
  width: 35vw;
  height: auto;
  margin-left: 10vw;
}

.hulk-img {
  width: 35vw;
  height: auto;
  margin-right: 10vw;

}


#main-bt-ride {
  background-color: var(--color-lightblue);
  width: 10vw;
  margin: 3vw 0vw 3vw 45vw;
  font-size: 1.4em;
}

#main-bt-ride:hover {
  background-color: var(--color-gold);
}

/*====================================================================
Title for Each section (Rides, Parking, History, Map, Concessions)
====================================================================*/

.section-title{
  font-weight: 800;
  font-size: 2em;
}

/*====================================================================
Parking Table
====================================================================*/



table,
th,
td {

  border: 0px solid black;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  color: var(--color-lightblue);
  font-size: 1em;
  padding: 0.6vw;

}


th {
  font-weight: 800;
  color: #FFF;
}


tr:nth-child(odd) {
  background-color: #03305a;
}




.parking {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blue);
  padding: 5vw;
}

.parking-container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.each-p-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#park{
  color: #FFF;
}

.table-info {
  font-weight: 600;
  font-size: 1.4em;
  color: var(--color-gold);
  margin: 2vw;
}

/*====================================================================
History
====================================================================*/

.history {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 5vw 15vw;
}

.history-title {
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 3vw;


}

.his-title {
  font-weight: 600;
  font-size: 1.4em;
  font-family: "Arial", sans-serif;
  color: var(--color-blue);
  margin: 1.6vw 0vw;
}

.his-des {
  line-height: 2vw;
  margin-bottom: 3vw;
}

#his{
  color: var(--color-blue);
}



/*====================================================================
Park lcoation shown on a map image
====================================================================*/

.map {
  display: flex;
  flex-direction: row;
  margin: 3vw 18vw 10vw 18vw;
  justify-content: space-between;
  background-color: var(--color-lightblue);
  padding: 2vw;
  border-radius: 2vw;

}


.map-container {
  display: flex;
  flex-direction: column;
}

.map-title {
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 2vw;
  text-align: center;
}


.map-img {
  width: 28vw;
  height: auto;
  cursor: pointer;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);

}

#iframe-map {
  height: 16vw;
}

#dir{
  text-align: center;
}

/*====================================================================
Concessions
====================================================================*/



.foodimg {
  width: 20vw;
  height: auto;
}

.concessions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 5vw 20vw;
}

.restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3vw;
}


.c-name {
  font-size: 2em;
  font-weight: 600;

}

.res-container {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
}

.res-title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1.2vw;
}

#con{
  text-align: center;
}


