/*====================================================================
 Color scheme
====================================================================*/
:root {
    --color-darkgreen: #0D4646FF;
    --color-lightgreen: #36917CFF;
    --color-olive: #CDD38DFF;
    --color-yellow: #F3D06DFF;
    --color-orange: #E79B56FF;
    --color-blue: #00274c;
    --color-gold: #CFB289;
    --color-lightblue: #C1CFE2;
    --rem: 16;
  }
  
  /*====================================================================
   General style
  ====================================================================*/
  * {
    box-sizing: border-box;
  }
  
  /*====================================================================
   Body style
  ====================================================================*/
  body {
    font-family: verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.8vw;
  }
  

  /*====================================================================
  Map and Tickets Title
  ====================================================================*/

#title{
    text-align: center;    
    font-weight: bold; 
    font-size: 2vw;
    padding: 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


  /*====================================================================
   Park Map
  ====================================================================*/

.parkmap {
    background-color: var(--color-lightblue);
}

.map-img{
    width: 50vw;
    height: auto;
    margin: 5vw 0;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);

}



  /*====================================================================
   From
  ====================================================================*/

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px 50px;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    border: 5px inset var(--color-blue);
    padding: 3vw;
    border-radius: 1vw;
    margin-bottom: 10vw;

}

input, select {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

label {
    font-size: 1vw;
    color: var(--color-blue);
}

input[type=submit]:hover {
    background-color: var(--color-gold);
    border-radius: 3px;
}